<!DOCTYPE html>
<html ng-app="schedulerApp">
<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href='css/bootstrap.min.css' rel='stylesheet' />
	<link rel="stylesheet" href="https://rawgit.com/tamtakoe/oi.select/master/dist/select.css" />
	<link href='css/fullcalendar.min.css' rel='stylesheet' />
	<link href='css/fullcalendar.print.css' rel='stylesheet' media='print'/>
	<link href='css/scheduler.min.css' rel='stylesheet' />
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Condensed|Open+Sans' rel='stylesheet' type='text/css'>
	<link href='css/index.css' rel='stylesheet' />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular.min.js"></script>
	<script src="https://rawgit.com/tamtakoe/oi.select/master/dist/select-tpls.js"></script>
	<script src='js/moment.min.js'></script>
	<script src='js/jquery.min.js'></script>
	<script src='js/fullcalendar.min.js'></script>
	<script src='js/lang/hr.js'></script>
	<script src='js/scheduler.min.js'></script>
	<script src='app/app.js'></script>
	<script src='app/factories.js'></script>
	<script src='app/controllers.js'></script>
	<script src='js/index.js'></script>
</head>
<body ng-controller="SchedulerCtrl">
	<div class="calendar-inner-container">
		<div class="row spacer white-bckgr"></div>
		<div class="row clr-cian white-bckgr">
			<div class="col-xs-1 col-sm-1 col-md-1"></div>
			<div class="col-xs-2 col-sm-2 col-md-2"></div>
			<div class="col-xs-2 col-sm-2 col-md-2">
				<oi-select oi-options="item.name for (key, item) in employees" ng-model="employee" placeholder="Odaberite zaposlenika"></oi-select>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2">
				<oi-select oi-options="item.name for (key, item) in orgUnits" ng-model="orgUnit" placeholder="Odaberite odjel"></oi-select>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2">
				<oi-select oi-options="item.name for (key, item) in skills" ng-model="skill" placeholder="Odaberite vještinu"></oi-select>
			</div>						
			<div class="col-xs-3 col-sm-3 col-md-3"></div>
		</div>
		<div class="row spacer white-bckgr"></div>
		<div class="row toolbar-row">
			<div class="col-xs-12 col-sm-12 col-md-12 fc-no-padding" id="calendar-container">
			</div>
		</div>
	</div>
</body>
</html>
